:root {
    --card-size-desktop: 12vw;
    --card-size-mobile: 8rem;
    --gap-desktop: 3vw;
    --gap-mobile: 1.5rem;
}

:local(p) {
    font-size: 1.125rem;
}

:local(h3) {
    font-size: 2rem;
}

:local(img) {
    width: 100%;
    height: auto;
    max-width: var(--card-size-desktop);
}

/* ---- Layout general ---- */

:local(.navbar) {
    position: relative;
}

:local(.journey_container) {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #130B21;
    flex-direction: column;
    padding: 2rem;
}

:local(.content) {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
}

:local(.menu_month) {
    width: 18vw;
    height: 30vh;
    min-width: 12rem;
    background-color: #221833;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

:local(.menu_text p),
:local(.menu_text h3) {
    margin: 1rem 0 1.5rem 2rem;
    cursor: pointer;
}

:local(.cards) {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap: var(--gap-desktop);
    height: 30vh;
}

:local(.button) {
    display: flex;
    flex-direction: row;
    gap: var(--gap-desktop);
    margin-top: 4vh;
}

/* ---- Cards ---- */

:local(.card1),
:local(.card2),
:local(.card3) {
    width: var(--card-size-desktop);
    height: var(--card-size-desktop);
    border-radius: 1rem;
    box-shadow: 0 0.7rem 0 rgba(9, 3, 19, 1);
    border: solid 1px #090313;
}

:local(.card1) {
    background-color: #6725D8;
}

:local(.card2) {
    background-color: #FB645C;
}

:local(.card3) {
    background-color: #4E465C;
}

:local(.card1:active),
:local(.card2:active),
:local(.card3:active) {
    box-shadow: none;
    transform: translateY(0.7rem);
}

/* ---- MEDIA QUERIES ---- */

@media (max-width: 768px) {
    /* Cambiar a layout vertical */
    :local(.content),
    :local(.button),
    :local(.cards) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    :local(.button) {
        gap: var(--gap-mobile);
    }

    :local(.card1),
    :local(.card2),
    :local(.card3) {
        width: var(--card-size-mobile);
        height: var(--card-size-mobile);
    }

    :local(.menu_month) {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 11rem;
        min-width: 11rem;
    }
}
