:local(.taskContainer){
    width: 100vw;
    height: 100vh;
    background-color: #130B21;
}

:local(.taskNavbar){
    position: relative;
}

:local(.taskContent){
    display: flex;
    height: 90vh;
}

:local(.taskPhoto){
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

:local(.taskPhoto img){
    height: 75%;
    width: 75%;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

:local(.taskTextContainer){
    width: 60%;
    display: flex;
    padding: 0rem 2rem;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

:local(.taskText){
    background-color: #221833;
    padding: 2rem 2rem;
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

:local(.task){
    background-color: #221833;
    padding: 2rem 2rem;
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

:local(.taskText){
    background-color: #221833;
    padding: 2rem 2rem;
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

:local(.taskText){
    background-color: #221833;
    padding: 2rem 2rem;
    width: 60%;
    height: 17%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

:local(.taskButtons){
    display: flex;
    padding: 2rem 0rem;
    gap: 5rem;
    width: 60%;
    justify-content: center;
}

:local(.taskAccept),
:local(.taskDeny){
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.7rem 0 rgba(9, 3, 19, 1);
    font-size: 1.2rem;
    font-weight: bold;
    color: #221833;
}

:local(.taskAccept:active),
:local(.taskDeny:active) {
    box-shadow: none;
    transform: translateY(0.7rem);
}

:local(.taskAccept){
    background-color: #5CFB7E;
}

:local(.taskDeny){
    background-color: #F05E5E;
}